{% extends "base.html" %}

{% load i18n %}
{% load bootstrap4 %}
{% load account socialaccount %}
{% block title %}ユーザー登録{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center">ユーザー登録</h1>
        </div>
        <div class="panel-body">
          <form class="signup" id="signup_form" align="center" method="post" action="{% url 'socialaccount_signup' %}">
            {% csrf_token %}
            {% bootstrap_form form show_label=False %}
            {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <small>
              <p>アカウントを作成する場合は、当サイトの利用規約と</br>プライバシーポリシーに同意したものとみなします。</p>
            </small>
            <button class="btn btn-lg btn-success btn-block" type="submit">登録する</button>
            <button class="btn btn-link btn-back" onclick="history.back()" type="button">戻る</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}