{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Reset Password done" %}{% endblock %}
{% block account_nav_change_password %}active{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title text-center">パスワード変更完了</h1>
        </div>
          <div class="panel-body text-center">
              <p>パスワードが変更されました。</p>
              <a href="{% url 'account_login' %}">ログインする</a>
        </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}