{% extends "base.html" %}

{% load i18n %}

{% block title %}パスワードリセット{% endblock %}
{% block account_nav_change_password %}active{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title text-center">パスワード再設定</h1>
        </div>
          <div class="panel-body text-center">
              <p>パスワード再設定用のメールを送信しました。<br/>
              数分たっても届かない場合はご連絡ください。</p>
        </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}