{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans "Sign Up" %}</h1>
        </div>
        <div class="panel-body">
          <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
          <form class="signup" id="signup_form" align="center" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-lg btn-success btn-block" type="submit">{% trans "Sign Up" %}</button>
            <button class="btn btn-link btn-back" onclick="history.back()" type="button">{% trans 'Back' %}</button>
          </form>
      </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}