/* ---------------------------------------------------------- */
/* general */
/* ---------------------------------------------------------- */

/*　プレイヤー（再生バー）の高さ、幅、背景色の指定　*/
/* .audiojs {
    background: #AAAAAA;
} */

.container {
	max-width: 1240px;
}

#page-wrapper {
    position: inherit;
    margin: 0 0 0 250px;
    padding: 0 20px;
    border-left: 1px solid #e7e7e7;
}

.channel {
    margin: 0px 20px 0px 0px;
    padding: 0;
    list-style: none;
}

.channel li {
    margin-bottom: 5px;
}

/* 
.no-margin {
    margin: 0 !important;
} 
ul.nav {
    padding-right: 25px;
} */
