@import "less/mixins.less";
@import "less/variables.less";
/* ---------------------------------------------------------- */
/* general */
/* ---------------------------------------------------------- */
/*　プレイヤー（再生バー）の高さ、幅、背景色の指定　*/
/* .audiojs {
    background: #AAAAAA;
} */

.container {
	max-width: 1240px;
}
ul {
    list-style: none;
}

#page-wrapper {
    position: inherit;
    margin: 0 0 0 250px;
    padding: 0 20px;
    border-left: 1px solid #e7e7e7;
}

.img-circle {
    border-radius: 50%;
}

.is-active {
    color: #FF7A00;
    border: 1px solid #FF7A00;
    font-size: 12px;
  }

  .is-active:hover {
    color: #FF7A00;
  }

.well {
    padding: 14px;
    margin: 5px 5px 5px 0;
}

.ch-info {
    margin-top: 20px;
}

.ep-header {
    margin-top: 20px;
}
.ep-date {
    font-size: 12px;
    color: #888888;
    margin-bottom: 0;
}
.ep-header .channel {
    padding-right: 15px;
    border-right: solid 1px #EEE; 
}

.ep-header h3 {
    margin-top: 0px;
}

.ep-header h4 {
    font-size: 16px;
    margin-bottom: 4px;
    color: #000;
}

.ep-header .author {
    font-size: 12px;
    color: #888888;
}

.ep-header .description {
    font-size: 12px;
    margin-bottom: 4px;
}

.ep-header .link {
    font-size: 12px;
}

.ep-body {
    margin-top: 20px;
    height: 100%;
}

.action {
    margin-top: 20px;
}

.img-tile {
    padding: 0;
}

.ch-info h3 {
    margin-top: 0px;
}

.ch-info h4 {
    font-size: 16px;
    margin-bottom: 4px;
}

.ch-info .author {
    font-size: 12px;
    margin-bottom: 4px;
    color: #888888;
}

.ch-info .description {
    font-size: 12px;
    margin-bottom: 4px;
}

.ch-info .link {
    font-size: 12px;
}

.tile {
    margin-top: 5px;
}

.recently {
    margin: 0;
    padding: 0;
    list-style: none;
}

.recently li {
    margin: 0 0 10px 0;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999999;
}

.recently-body {
    margin-left: 50px;
}

.recently-date {
    font-size: 8px;
}

.recently li .recently-body p {
    font-size: 12px;
    margin: 0;
}

.logout .btn-back {
    margin-top: 10px;
}

.socialaccount_providers li {
    margin-bottom: 5px;
}