/* ---------------------------------------------------------- */
/* general */
/* ---------------------------------------------------------- */

/*　プレイヤー（再生バー）の高さ、幅、背景色の指定　*/
/* .audiojs {
    background: #AAAAAA;
} */

.container {
	max-width: 1240px;
}
ul {
    list-style: none;
}

#page-wrapper {
    position: inherit;
    margin: 0 0 0 250px;
    padding: 0 20px;
    border-left: 1px solid #e7e7e7;
}

.img-circle {
    border-radius: 50%;
}

.well {
    padding: 14px;
    margin: 5px 5px 5px 0;
}

.ch-info {
    margin-top: 20px;
}

.ep-header {
    margin-top: 20px;
}
.ep-date {
    font-size: 12px;
    color: #888888;
    margin-bottom: 0;
}
.ep-header .channel {
    padding-right: 15px;
    border-right: solid 1px #EEE; 
}

.ep-header h3 {
    margin-top: 0px;
}

.ep-header h4 {
    font-size: 16px;
    margin-bottom: 4px;
}

.ep-header .author {
    font-size: 12px;
    color: #888888;
}

.ep-header .description {
    font-size: 12px;
    margin-bottom: 4px;
}

.ep-header .link {
    font-size: 12px;
}

.ep-body {
    margin-top: 20px;
}

.action {
    margin-top: 20px;
}

.img-tile {
    padding: 0;
}

.ch-info h3 {
    margin-top: 0px;
}

.ch-info h4 {
    font-size: 16px;
    margin-bottom: 4px;
}

.ch-info .author {
    font-size: 12px;
    margin-bottom: 4px;
    color: #888888;
}

.ch-info .description {
    font-size: 12px;
    margin-bottom: 4px;
}

.ch-info .link {
    font-size: 12px;
}
