{% extends 'base_nav.html' %}
{% load static %}
{% block title %}All{% endblock %}

{% block content %}
{% static "" as STATIC_URL %}
<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Channels</h1>
      {% if channels %}
      {% for channel in channels %}
          <div class="col-lg-2">
            <a href="{{ channel.get_absolute_url }}"><img class="img-circle" src="{{ STATIC_URL }}{{ channel.cover_image }}" width=120px/></a>
            <p><a href="{{ channel.get_absolute_url }}">{{ channel.title }}</a></p>
          </div>
        {% endfor %}
      {% else %}
        <p>There are no channels available.</p>
      {% endif %}
    </div>  
  </div>
</div>
{% endblock %}