{% extends 'base_nav.html' %}
{% load static %}
{% block title %}All{% endblock %}

{% block content %}
{% static "" as STATIC_URL %}
<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">全チャンネルの未聴エピソードを表示</h1>
      {% if channels %}
        {% for channel in channels %}
          <li class="list-group-item">
            <a href="{{ channel.get_absolute_url }}"><img src="{{ STATIC_URL }}{{ channel.cover_image }}" width=60px/>{{ channel.title }} - {{ channel.author }}</a>
          </li>
        {% endfor %}
      {% else %}
        <p>There are no channels available.</p>
      {% endif %}
    </div>  
  </div>
</div>
{% endblock %}