{% extends 'base_nav.html' %}
{% load static %}
{% block title %}Channel Detail{% endblock %}

{% block content %}
{% static "" as STATIC_URL %}
<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-9">
      {% if episodes %}
        {% for episode in episodes %}
          <li class="list-group-item">
            <a href="{{ episode.get_absolute_url }}">{{ episode.title }} - {{ episode.channel }}</a>
          </li>
        {% endfor %}
      {% else %}
        <p>There are no episodes available.</p>
      {% endif %}
    </div>
    <div class="col-lg-3">
      <div class="panel panel-default">
      {% if channel %}
      <img class="img-rounded" src="{{ STATIC_URL }}{{ channel.cover_image }}" width=200px/>
        <h4>{{ channel.title }}</h4>
        <p>{{ channel.description }}</p>
        <p>{{ channel.link }}</p>
        <p>{{ channel.feed_url }}</p>
        <p>{{ channel.author_name }}</p>
      {% else %}
        <p>チャンネル情報が取得できませんでした</p>
      {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
