{% extends 'base_nav.html' %}
{% load static %}
{% block title %}Channel Detail{% endblock %}

{% block content %}
{% static "" as STATIC_URL %}
<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-9">
      {% if episodes %}
      <h3>チャンネル詳細</h3>
      <ul class="chat">
        {% for episode in episodes %}
        <li class="left clearfix">
          <div class="header">
            <small class="text-primary"><a href="{% url 'feed:ch_detail' episode.channel.id %}">{{ episode.channel.title }}</a></small>
            <small class="text-muted pull-right"><i class="fa fa-clock-o fa-fw"></i>{{ episode.published_time }}</small>
          </div>
          <p class="track-title"><a href="{% url 'feed:ep_detail' episode.id %}">{{ episode.title }}</a></p>
          <audio src="{{ episode.audio_url }}" preload="auto"></audio>
        </li>
        {% endfor %}
      {% else %}
        <p>There are no episodes available.</p>
      {% endif %}
    </ul>
    </div>
    <div class="col-lg-3">
      <div class="right-bar">
        {% if channel %}
        <img class="img-rounded" src="{{ STATIC_URL }}{{ channel.cover_image }}" width=200px/>
          <h4>{{ channel.title }}</h4>
          <p>{{ channel.description }}</p>
          <p><a href="{{ channel.link }}">Web Site</a></p>
          <p>{{ channel.author_name }}</p>
        {% else %}
          <p>チャンネル情報が取得できませんでした</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
