{% extends 'base_nav.html' %}
{% load static %}
{% block title %}Contact{% endblock %}

{% block content %}
{% static "" as STATIC_URL %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">お問い合わせ</h1>
            <form action="{% url 'feed:contact' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-success pull-right" value="send message">
            </form>
        </div>
    </div>
</div>
{% endblock %}