{% extends 'base_nav.html' %}
{% load static %}
{% block title %}Episode Detail{% endblock %}

{% block content %}
{% static "" as STATIC_URL %}
<script>
$(function() {
    $('#like').on('click', function() {
        $.ajax({
            'url':'{% url "feed:change_like" %}',
            'type':'GET',
            'data':{
                'ep_id':$(this).attr('data-episode-id'),
            },
            'dataType':'json'
        })
        .done(function(data){
            $('#like').html(data.btn_display)
        })
        .fail(function(data){
            $('#error').html('<p>' + '登録できませんでした' +'</p>')
        })
    });
});
</script>
<div id="wrapper">
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12 full-width margin-top-20percent">
        {% if episode %}
        <h3>{{ episode.title }}</h3>
            <div class="panel-body">
            <img src="{{ STATIC_URL }}{{ episode.channel.cover_image }}" width=150px/>
            </div>
            {% if like %}
              <p><button type="button" id="like" data-episode-id="{{ episode.id }}" class="btn btn-primary btn-xs">Likeから除外する</button></p>
            {% else %}
              <p><button type="button" id="like" data-episode-id="{{ episode.id }}" class="btn btn-primary btn-xs" >Like</button></p>
            {% endif %}
            <div id="error">
              {{ result }}
            </div>
            <p>{{ episode.description }}</p>
            <p>{{ episode.link }}</p>
            <p>{{ episode.release_date }}</p>
            <p>{{ episode.duration }}</p>
            <p>Channel: {{ episode.channel.title }}</p>
        {% else %}
            <p>エピソード情報が取得できませんでした</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
