{% extends 'base_nav.html' %}
{% load static %}
{% block title %}Likes{% endblock %}

{% block content %}
{% static "" as STATIC_URL %}
<script>
  $(function() {
    $('#remove').on('click', function() {
        var this_ = $(this)
        var item_id = this_.attr('data-episode-id')
        $.ajax({
            'url':'{% url "feed:change_like" %}',
            'type':'GET',
            'data':{
                'ep_id':item_id,
            },
            'dataType':'json'
        })
        .done(function(data){
          $('#' + item_id).remove();
          $('#info').attr('class', 'alert alert-warning alert-dismissable')
          $('#info').html('<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' + 'お気に入りを解除しました')
          $('#info').fadeIn(1000).delay(2000).fadeOut(2000)
        })
        .fail(function(data){
            $('#info').attr('class', 'alert alert-danger alert-dismissable')
            $('#info').html('<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' + '解除できませんでした')
            $('#info').fadeIn(1000).delay(2000).fadeOut(2000);
        })
    });
  });
</script>
<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">お気に入りエピソード</h2>
      <ul class="chat">
        {% for like in likes %}
          <li class="left clearfix" id="{{ like.episode.id }}">
            <span class="chat-img pull-left">
              <a href="{% url 'feed:ep_detail' like.episode.id %}"><img class="img-rounded" src="{{ STATIC_URL }}{{ like.episode.channel.cover_image }}" width=60px/></a>
            </span>
            <div class="chat-body clearfix">
              <div class="header">
                <small class="text-primary"><a href="{% url 'feed:ch_detail' like.episode.channel.id %}">{{ like.episode.channel.title|safe }}</a></small>
                <small class="text-muted pull-right"><i class="fa fa-clock-o fa-fw"></i>{{ like.episode.published_time }}</small>
              </div>
              <p class="track-title">
                <a href="{% url 'feed:ep_detail' like.episode.id %}">{{ like.episode.title|safe }}</a>
                <button type="button" id="remove" data-episode-id="{{ like.episode.id }}" class="btn btn-default btn-xs pull-right">お気に入りを解除</button>
              </p>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}