{% extends 'base.html' %}
{% load i18n %}
{# Load the tag library #}
{% block nav %}
    <!-- ヘッダナビゲーション -->
    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            {% if user.is_authenticated %}
            <form method="POST" class="form">
                {% csrf_token %}
                <li>
                {{ subscription_form }}
                </li>
            </form>
                <li>
                <button id="add_feed" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addFeedModal">検索</button>
                </li>
            <li>{{ user.email }}</li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-gear fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="{% url 'account_logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
            </li>
            {% else %}
            <li><a href="{% url 'account_login' %}">{% trans "Sign In" %}</a></li>
            <li><a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
            {% endif %}
        </li>
    </ul>
{% endblock %}
