{% extends 'base.html' %}
{% load i18n %}
{# Load the tag library #}
{% block nav %}
    <!-- ヘッダナビゲーション -->
    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            {% if user.is_authenticated %}
            <form action="{% url 'feed:entry' %}" method="POST" class="form">
                <!-- <div class="input-group"> -->
                {% csrf_token %}
                <li>
                {{ subscription_form }}
                </li>
                <li>
                    <button type="submit" class="btn btn-primary btn-sm "><i class="fa fa-search"></i></button>
                </li>
                    <!-- <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">
                            <i class="fa fa-search"></i>
                        </button>
                    </span> -->
                <!-- </div> -->
            </form>
            <li>{{ user.email }}</li>
            <li><a href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a></li>
            {% else %}
            <li><a href="{% url 'account_login' %}">{% trans "Sign In" %}</a></li>
            <li><a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
            {% endif %}
        </li>
    </ul>

    <!-- サイドバー -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
            <li>
                <a href="{% url 'feed:index' %}">Trend</a>
            </li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'feed:channels' %}">Channels</a></li>
                <li>
                    <a href="{% url 'feed:collection' %}">Collection</a>
                </li>
                <li><a href="{% url 'feed:like_list' %}">Likes</a></li>
                <li>
                    <a href="#">Playlists<span class="fa arrow"></span></a>
                </li>
                <li><a href="{% url 'feed:settings' %}">Settings</a></li>
            {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
