<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>logue - {% block title %}{% endblock %}</title>
  <link href="{% static 'bootstrap/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'bootstrap/vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet">
  <link href="{% static 'bootstrap/dist/css/sb-admin-2.css' %}" rel="stylesheet">
  <link href="{% static 'bootstrap/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

  <link href="{% static 'manager/css/structure.css' %}" rel="stylesheet" type="text/css">

  <script type="text/javascript" src="{% static 'bootstrap/vendor/jquery/jquery.min.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>

  <script src="{% static 'bootstrap/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'bootstrap/vendor/metisMenu/metisMenu.min.js' %}"></script>
  <script src="{% static 'bootstrap/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'bootstrap/vendor/datatables-plugins/dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'bootstrap/vendor/datatables-responsive/dataTables.responsive.js' %}"></script>
  <script src="{% static 'bootstrap/dist/js/sb-admin-2.js' %}"></script>
</head>

<body>
    <div id="wrapper">
      <nav class="navbar navbar-default navbar-static-top manager-nav no-margin" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
          <a href="{% url 'feed:index' %}" class="navbar-brand">logue</a>
        </div>

        <!-- ナビゲーション -->
        {% block nav %}
        {% endblock %}
      </nav>

      <!-- コンテンツ -->
      {% block content %}
      {% endblock %}
    </div>
</body>
</html>